.animate-pulse-fade-in {
  animation: pulse-fade-in 0.6s ease-out both;
  animation-delay: 1;
}

.animate-duration-500 {
  animation-duration: 0.5s;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-delay-300 {
  animation-delay: 0.3s;
}

.animate-delay-400 {
  animation-delay: 0.4s;
}

.animate-delay-500 {
  animation-delay: 0.5s;
}

@keyframes pulse-fade-in {
  0% {
    transform: scale(0.9);
    opacity: 0.01;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}