@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "./animation.css";

@theme {
  --color-primary: #171717;
  --color-secondary: #191919;

  --color-text: #e5e5e5;
  --color-subtext-0: #d4d4d4;
  --color-subtext-1: #a1a1a1;
}


@layer base {
  body {
    font-family: 'Inter', system-ui, sans-serif;
    @apply bg-primary
  }

  h1 {
    @apply text-2xl font-semibold text-text;
  }

  h3 {
    @apply text-lg font-semibold text-text;
  }

  h2 {
    @apply text-2xl font-semibold text-text;
  }

  h4 {
    @apply text-base font-semibold text-subtext-0;
  }

  p {
    @apply text-subtext-1;
  }
}