---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";

import BlogCard from "../components/blog/BlogCard.astro";

const blog = await getCollection("blog", ({ data }) => {
  return data.draft === false;
});
---

<Layout title="Blog de Gaspar Castillo - Software Developer">
  <Wrapper>
    <section class="flex flex-col gap-4">
      {blog.map((blog) => <BlogCard entry={blog} />)}
    </section>
  </Wrapper>
</Layout>
