---
import { getCollection } from "astro:content";

import Layout from "@app/layouts/Layout.astro";
import Wrapper from "@app/layouts/Wrapper.astro";

import NowPlaying from "@features/media/components/NowPlaying.astro";
import NowPlayingSkeleton from "@features/media/components/NowPlayingSkeleton.astro";

import About from "@features/portfolio/components/AboutSection.astro";
import Education from "@features/portfolio/components/EducationSection.astro";
import Experience from "@features/portfolio/components/ExperienceSection.astro";
import Footer from "@features/portfolio/components/Footer.astro";
import Projects from "@features/portfolio/components/ProjectsSection.astro";
import BlogSection from "@features/blog/components/BlogSection.astro";

const blogPosts = await getCollection("blog", ({ data }) => !data.draft);

blogPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const latestBlogPosts = blogPosts.slice(0, 2);
---

<Layout title="Portfolio de Gaspar Castillo - Software Developer">
  <Wrapper>
    <NowPlaying server:defer>
      <NowPlayingSkeleton slot="fallback" />
    </NowPlaying>

    <main class="flex flex-col gap-6">
      <About />
      <Experience />
      <Projects />
      <BlogSection items={latestBlogPosts} />
      <Education />
    </main>

    <Footer />
  </Wrapper>
</Layout>
