---
import Layout from "@app/layouts/Layout.astro";
import Wrapper from "@app/layouts/Wrapper.astro";

import NowPlaying from "@features/media/components/NowPlaying.astro";
import NowPlayingSkeleton from "@features/media/components/NowPlayingSkeleton.astro";

import About from "@features/portfolio/components/About.astro";
import Education from "@features/portfolio/components/Education.astro";
import Experience from "@features/portfolio/components/Experience.astro";
import Footer from "@features/portfolio/components/Footer.astro";
import Projects from "@features/portfolio/components/Projects.astro";

export const prerender = false;
---

<Layout title="Portfolio de Gaspar Castillo - Software Developer">
  <Wrapper>
    <NowPlaying server:defer>
      <NowPlayingSkeleton slot="fallback" />
    </NowPlaying>

    <main class="flex flex-col gap-6">
      <About />
      <Experience />
      <Projects />
      <Education />
    </main>

    <Footer />
  </Wrapper>
</Layout>
