---
export const prerender = false;

import About from "@sections/About.astro";
import Education from "@sections/Education.astro";
import Experience from "@sections/Experience.astro";
import Footer from "@sections/Footer.astro";
import Projects from "@sections/Projects.astro";

import NowPlaying from "@ui/NowPlaying.astro";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";
import NowPlayingSkeleton from "@ui/NowPlayingSkeleton.astro";
---

<Layout title="Portfolio de Gaspar Castillo - Software Developer">
  <Wrapper>
    <NowPlaying server:defer>
      <NowPlayingSkeleton slot="fallback" />
    </NowPlaying>

    <main class="flex flex-col gap-6">
      <About />
      <Experience />
      <Projects />
      <Education />
    </main>

    <footer>
      <Footer />
    </footer>
  </Wrapper>
</Layout>
