---
import { Image } from "astro:assets";

import ButtonLink from "@shared/components/ui/ButtonLink.astro";
import Download from "@shared/icons/Download.astro";
import SocialLinks from "@shared/components/ui/SocialLinks.astro";
import WorkBadge from "@shared/components/ui/WorkBadge.astro";
---

<section
  class="bg-card-dark p-8 rounded-2xl flex flex-col sm:flex-row items-center sm:gap-6 relative"
>
  <figure class="shrink-0 self-end sm:-mb-8">
    <picture>
      <source
        media="(min-width: 640px)"
        srcset="https://res.cloudinary.com/dzn3nempv/image/upload/v1758264381/portfolio/notebook_memoji_1_vq8cej.png"
      />

      <Image
        height={200}
        width={200}
        src="https://res.cloudinary.com/dzn3nempv/image/upload/v1758264380/portfolio/medidate_memoji_1_tncdtd.png"
        alt="Memoji Image Profile"
        class="size-60 object-cover absolute sm:static sm:size-48 bottom-0 right-0 sm:opacity-60 opacity-30 z-10"
      />
    </picture>
  </figure>

  <div class="flex flex-col gap-4">
    <header class="flex flex-wrap gap-4 sm:gap-0 items-center justify-between">
      <WorkBadge />
      <SocialLinks />
    </header>

    <div>
      <h1>Gaspar Castillo Catrifol</h1>
      <span class="text-green-500 font-semibold">Software Developer</span>

      <p class="pt-2">
        Apasionado por programar, con foco en
        <span
          class="text-muted-dark-0 underline decoration-green-800 font-semibold underline-offset-4"
          >Backend</span
        > y en construir soluciones que funcionen de verdad. Me encanta resolver problemas,
        probar distintas ideas y aprender de todo lo que hago, ya sea en backend o
        frontend.
      </p>
    </div>

    <footer class="ml-auto z-20">
      <ButtonLink
        href="cv_gaspar_castillo.pdf"
        role="link"
        class="bg-zinc-900 opacity-100 sm:opacity-85 px-4 py-2 text-text-dark text-sm outline-1 outline-border-dark rounded-xl"
      >
        <Download class="mr-1.5" />
        Descargar CV
      </ButtonLink>
    </footer>
  </div>
</section>
