---
import ProjectCard from "@shared/components/ui/cards/ProjectCard.astro";

import ButtonLink from "@shared/components/ui/ButtonLink.astro";
import ArrowRight from "@shared/icons/ArrowRight.astro";
import Star from "@shared/icons/Star.astro";

import { mockProjects } from "../data/projects.mock";
---

<section class="bg-card-dark rounded-2xl p-8 flex flex-col gap-6">
  <div class="flex gap-4 items-center">
    <Star />
    <h2>Proyectos</h2>
  </div>

  <div class="grid sm:grid-cols-2 gap-3 mb-4">
    {mockProjects.map((project) => <ProjectCard project={project} />)}
  </div>

  <ButtonLink href="https://github.com/isakiDev?tab=repositories">
    Más proyectos

    <ArrowRight
      class="ml-0.5 opacity-70 group-hover:opacity-100 duration-200 group-hover:translate-x-[1.5px]"
    />
  </ButtonLink>
</section>
