---
interface Props {
  href: string;
  title: string;
  date: string;
  description: string;
}

const { href, title, date, description } = Astro.props;
---

<article
  class="px-6 pt-6 min-h-40 bg-card-dark hover:cursor-pointer duration-300 rounded-xl border border-border-dark relative dark:hover:border-gray-700"
>
  <a class="absolute inset-0 z-10" href={href}></a>

  <header class="flex justify-between items-center">
    <h2>{title}</h2>
    <time class="text-gray-500 text-xs">{date}</time>
  </header>

  <p class="text-muted-dark-0">{description}</p>
</article>
