---
import ArrowRight from "@icons/ArrowRight.astro";
import ButtonLink from "@ui/ButtonLink.astro";

import { type TimeLineData } from "../../../interfaces";

interface Props {
  extraDetails: TimeLineData["extraDetails"];
}

const { extraDetails } = Astro.props;
---

<ul class="mt-4 bg-zinc-800/30 py-4 px-6 rounded-xl border border-border-dark">
  {
    extraDetails?.map(({ description, title, url }) => {
      return (
        <li>
          {title && (
            <h4 class="flex items-center gap-2 text-muted-dark-0 text-sm font-medium md:text-base">
              <span class="w-1 h-1 rounded-full bg-white" aria-hidden="true" />
              {title}
            </h4>
          )}

          <p class="text-sm sm:text-base leading-relaxed text-muted-dark-1">
            {description}
          </p>

          {url && (
            <ButtonLink href={url} class="text-muted-dark-0 pt-4 group">
              Ver detalles
              <ArrowRight className=" ml-0.5 opacity-70 group-hover:opacity-100 duration-200 group-hover:translate-x-[1.5px]" />
            </ButtonLink>
          )}
        </li>
      );
    })
  }
</ul>
