---
import type { TimeLineData } from "./time-line.interface";

interface Props {
  subTitle?: TimeLineData["subTitle"];
  date?: TimeLineData["date"];
  title?: TimeLineData["title"];
}

const { subTitle, date, title } = Astro.props;
---

<header class="flex justify-between">
  <div>
    {title && <h3>{title}</h3>}

    {
      subTitle && (
        <a
          href={subTitle.url}
          target="_blank"
          class="text-muted-dark-0 font-bold text-base sm:text-sm  transition-colors hover:text-amber-400 w-fit duration-300"
        >
          {subTitle.title}
        </a>
      )
    }
  </div>

  {
    date && (
      <time class="text-base sm:text-sm font-normal text-muted-dark-1">
        {date}
      </time>
    )
  }
</header>
