---
import { type TimeLineData } from "../../../interfaces";

interface Props {
  subTitle: TimeLineData["subTitle"];
  date: TimeLineData["date"];
  title: TimeLineData["title"];
}

const { subTitle, date, title } = Astro.props;
---

<header class="flex flex-col md:flex-row md:justify-between gap-2">
  <time
    class="text-xs font-normal text-muted-dark-1 bg-zinc-800/30 size-fit shrink-0 px-3 py-1 rounded-full md:order-2"
  >
    {date}
  </time>

  <div>
    <h3>{title}</h3>

    <a
      href={subTitle.url}
      target="_blank"
      class="text-muted-dark-1 font-semibold text-sm transition-colors hover:text-green-500 w-fit duration-300"
    >
      {subTitle.title}
    </a>
  </div>
</header>
