---
import TimeLineBody from "./TimeLineBody.astro";
import TimeLineHeader from "./TimeLineHeader.astro";

import { type TimeLineData } from "../../../interfaces";

interface Props {
  items: TimeLineData[];
}

const { items } = Astro.props;
---

<ol class="relative border-s border-border-dark ml-2 timeline">
  {
    items?.map((data) => (
      <li class="ms-3 pt-4 pl-5 rounded-xl duration-100">
        {/* line */}
        <div class="absolute size-2 rounded-full mt-2 md:mt-2.5 -start-1 bg-neutral-800 outline-3 outline-zinc-400" />

        <TimeLineHeader {...data} />

        {data.extraDetails && <TimeLineBody extraDetails={data.extraDetails} />}
      </li>
    ))
  }
</ol>
