---
import TimeLineBody from "./TimeLineBody.astro";
import TimeLineHeader from "./TimeLineHeader.astro";

import { type TimeLineData } from "../../../interfaces";

interface Props {
  data: TimeLineData[];
}

const { data } = Astro.props;
---

<ol class="relative border-s border-border-dark ml-2">
  {
    data?.map((data) => (
      <li class="ms-3 p-4 rounded-xl duration-100">
        {/* line */}
        <div class="absolute size-2 rounded-full mt-1.5 -start-1 bg-neutral-800 outline-3 outline-zinc-400" />

        <TimeLineHeader {...data} />
        <TimeLineBody extraDetails={data.extraDetails} />
      </li>
    ))
  }
</ol>
