---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...props } = Astro.props;

const default_class = `inline-flex items-center justify-center rounded-xl opacity-85 transition-opacity duration-150 hover:opacity-100 hover:cursor-pointer ${className} group`;
---

<a {...props} target="_blank" class={default_class}>
  <slot />
</a>
