---
import { Image } from "astro:assets";

interface Props {
  imageUrl: string;
  isPlaying: boolean;
}

const { imageUrl, isPlaying } = Astro.props;

const spinAnimationClass = "animate-spin [animation-duration:7s]";
---

<article
  class=`relative flex items-center justify-center size-16 rounded-full bg-[#0f0f0f] outline outline-[0.5px] outline-[#2a2a2a] ${isPlaying ? spinAnimationClass : ''}`
>
  <!-- lines -->
  <div class="absolute inset-0 rounded-full vinyl-lines"></div>

  {/* orifice */}
  <div class="absolute size-2 rounded-full bg-[#1f1f1f] z-10"></div>

  <Image
    class="rounded-full outline outline-1 outline-[#2a2a2a]"
    width={33}
    height={33}
    src={imageUrl}
    alt="Album Image"
  />
</article>

<style>
  .vinyl-lines {
    background: repeating-radial-gradient(
      circle,
      transparent 3px,
      rgba(255, 255, 255, 0.035) 3.5px,
      transparent 5px
    );

    mask-image: radial-gradient(circle, black 0 60%, transparent 61%);
  }
</style>
